.button, .button{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.boton:hover,
.button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.305);
}

.boton:active,
.button:active {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.364) inset;
    cursor: pointer;
}
.root-index {
    height: 100vh;
    grid-template-columns: auto;
    row-gap: 20px;
    place-content: center;
}

.descripcion {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.button-init {
    background-color: khaki;
    padding: 10px 20px;
    border-radius: 10px;
    width: 70px;
}

/**************************/
.game {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: start;
    row-gap: 20px;
    padding: 20px;
}

.tablero {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5px;
    row-gap: 10px;

    padding: 0px 70px;
}

.tablero-fin {
    animation-name: transicion-in;
    animation-duration: 750ms;
}

@keyframes transicion-in {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.tablero-inicio {
    animation-name: transicion-out;
    animation-duration: 750ms;
}

@keyframes transicion-out {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.centrador {
    display: grid;
    place-content: center;
}

.logo {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Roboto', 'Courier New', Courier, sans-serif;
    font-family: 'Courier New', Courier, monospace;
}

/*******************************/
.contador-palabras-por-minuto {

    padding: 0px 70px;
    font-size: 1.1em;
}

/*******************************/
.texto-informacion {

    padding: 0px 70px;
    font-size: 0.75em;
}

/*******************************/
.casilla {
    padding: 2px;
    height: 40px;
    width: 22px;

    display: grid;
    place-content: center;

    border-radius: 3px;
    margin-bottom: 3px;
    font-size: 1.2em;
}

.estadoCasilla-vacia {
    background-color: rgba(135, 135, 135, 0.197);
}

.estadoCasilla-error {
    background-color: rgba(255, 0, 0, 0.432);
}

.estadoCasilla-valida {
    background-color: rgba(42, 250, 0, 0.379);
}

.casilla-index {
    border-bottom: 3px solid rgb(0, 161, 242);
    margin-bottom: 0px;
}

/*******************************/
.content-inputText-game {
    padding: 10px;
}

.inputText-game {
    width: 400px;
    height: 25px;
    font-size: 1em;
    box-shadow: 0px 0px 10px rgba(13, 82, 172, 0.581);
}

.inputText-game:active {
    box-shadow: 0px 0px 10px rgba(13, 82, 172, 0.895);
}

/*******************************/
.info-game {
    padding: 0px 70px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
}

.title-info-game {
    padding: 20px 70px 0px;
    font-size: 1.4em;
    font-weight: bold;
}

.data-info-game {
    width: 100px;
    font-size: 1.1em;
}

/*******************************/
.botones-navegacion-game {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 0px 70px;
}

.boton-siguiente,
.boton-anterior {
    background-color: khaki;
    padding: 10px 20px;
    border-radius: 10px;
    width: 70px;

    display: grid;
    place-content: center;

    font-weight: bold;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

