
.juegos{
    min-height: calc(100vh - 65px);
    display: grid;
    grid-template-columns: minmax(212px, 250px) 2fr;
    grid-template-rows: 1fr;
    margin-top: 65px;
    padding: 0px 80px;
}
.der-juegos{
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    border-right: 1.5px solid #005d2b25;
    /*
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.259);
     */
    padding-right: 40px;
}
.lista-juegos-dis{
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    row-gap: 10px;
}
/*************************/
.info-jugador{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    padding: 5px 40px;
}

.elemento-info-jugador{

    border-radius: 5px;
    border: 1.5px solid #005d2b25;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 4px;
    font-family: "Courier New", Courier, monospace;
}
.title-elemento-info-jugador{
    background-color: #085a2e0a;
    border-bottom: 1.5px solid #005d2b25;
    color: #00843d;
    font-weight: bold;
    padding:5px 10px;
}
.content-elemento-info-jugador{
    padding:10px;

}
.elemento-doble{
    grid-column:1/3;
}